In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
from datasets import load_dataset

df = pd.read_csv('D:\.MY PERSONAL DATA/programming Practice/Data Analytics/Real Dataset Practice/Credit Card Fraud/Code of the project/Results Gathered/in which hour frauds have occured.csv')

d:\mini\envs\project_pr\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df

    hour  total_transactions  fraud_transactions
0      0                3963                   2
1      1                2217                   2
2      2                1576                  21
3      3                1821                  13
4      4                1082                   6
5      5                1681                  11
6      6                1831                   3
7      7                3368                  23
8      8                5179                   5
9      9                7878                  15
10    10                8288                   2
11    11                8517                  43
12    12                7732                   9
13    13                7585                   9
14    14                8029                  13
15    15                7836                  14
16    16                7786                  14
17    17                7882                  12
18    18                8607                  15
19    19                7994                   7
20    20                8980                   8
21    21                9895                  14
22    22                8977                   3
23    23                6082                  17
24    24                3732                   4
25    25                2003                   8
26    26                1752                  36
27    27                1671                   4
28    28                1127                  17
29    29                1309                   0
30    30                2270                   6
31    31                3875                   0
32    32                5097                   4
33    33                7960                   1
34    34                8310                   6
35    35                8339                  10
36    36                7688                   8
37    37                7780                   8
38    38                8541                  10
39    39                8625                  12
40    40                8667                   8
41    41                8284                  17
42    42                8432                  18
43    43                7655                  12
44    44                7776                  10
45    45                7808                   2
46    46                6464                   6
47    47                4856                   4