In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
from datasets import load_dataset

df = pd.read_csv('D:\.MY PERSONAL DATA/programming Practice/Data Analytics/Real Dataset Practice/Credit Card Fraud/Code of the project/Results Gathered/total_transactions made and how many are fraud and not fraud.csv')

d:\mini\envs\project_pr\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df

   Class  total_transactions
0      0              284315
1      1                 492